.team {
  background-color: var(--add-color);
}

.team__list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--li-gap));
}

.team__item {
  flex-basis: calc((100% / 4 - var(--li-gap)));
  margin-right: var(--li-gap);
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card {
  padding-top: var(--li-gap);
  padding-bottom: var(--li-gap);
  padding-left: 32px;
  padding-right: 32px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
  color: var(--p-color);
}
